 *{

    box-sizing: border-box;

    font-family: Verdana, Geneva, sans-serif;

  }

  

  html,

  body {

    height: 100%;

    padding: 0;

    margin: 0;
	
	background-color: black; 

  }

.push-spaces
{
    height: 300px;
}

  .btn{

    background-color: lime; 

	display: block; margin: 0 auto;
	
	
	border: 3px solid black;
 
  }


  .nav-ufo {

    position: relative;

    bottom: 27px;

    left: 145px;

    width: 35px;

    color: white;


  }

  div .navbar{

    background-color: black; 

    border-bottom-style: solid; 

    border-bottom-color: lime; 

  }



  .wrapper {

    position: relative;

    min-height: 100%;

    padding-bottom: 25px;

    overflow: auto;

  }



  .footer {

    position: absolute;

    right: 0;

    bottom: 0;

    left: 0;

    padding: 5px;

    background: black;

  }

   */

  .navbar {

    padding: 5px;

    margin: 0;

  }

  

div .panel{

  border-style: solid; 

  border-color: lime; 
  
  background-color: black

}
  

  .filters .panel-body {

    padding: 0;
	
	background-color: black;

  }

 
  table {
	
	border-style: solid ; 
    border-color: lime; 
	
}

th, td {
  
  text-align: left;
  padding: 8px;
  border: 1px solid lime;
 
}

hr {
width: 100%;
height: 3px;
margin-left: auto;
margin-right: auto;
background-color:lime;
border: 0 none;
margin-top: 0px;
margin-bottom: 0px;
}


